@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    /* background-image: linear-gradient(white ,rgb(182, 249, 208)); */
 height: inherit; 
overflow-y: hidden;
}
html{
    height: 100%;
}